html,
body {
  /* background-color: black; */
  margin: 0;
  padding: 0;
}
.App {
  font-family: sans-serif;
  text-align: center;
  color: yellowgreen;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}
#picutres-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: center;
}
.image-container {
  width: 170px;
  margin: 10px;
}

img.image-grid {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
