html,
body {
  /* background-color: black; */
  margin: 0;
  padding: 0;
}
.App {
  font-family: sans-serif;
  text-align: center;
  color: yellowgreen;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}
#picutres-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: center;
}
.image-container {
  color: black;
  width: 170px;
  height: 170px;
  padding: 10px;
  position: relative;
}

.cart {
  position: absolute;
  right: 25px;
  cursor: pointer;
}

.like {
  position: absolute;
  left: 25px;
  cursor: pointer;
}
